<div class="container">
  <div class="title">
    <h1>Flats</h1>
  </div>
  <div class="cards d-flex justify-content-between align-items-start">
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="flat-card border shadow-sm m-3">
          <div class="img-card">
            <img src="https://source.unsplash.com/random" alt="flats" width="100%" height="200px">
          </div>
          <div class="card-info p-3">
            <h4><%= flat.name %></h4>
            <p><%= flat.address %></p>
          </div>
          <div class="card-flat-details d-flex px-3 border-bottom">
            <p class="mr-3"><i class="fas fa-user-friends">&nbsp</i><%= flat.number_of_guests %></p>
            <p><i class="fas fa-pound-sign">&nbsp</i><%= flat.price_per_night %></p>
          </div>
          <div class="card-flat-actions p-3">
            <%= link_to raw("<span class='text-primary'>More info</span>"), flat_path(id: flat['id']) %>
            <%= link_to raw("<span class='text-warning'>Edit</span>"), flat_path(id: flat['id']) %>
            <%= link_to raw("<span class='text-danger'>Remove</span>"), flat_path(id: flat['id']) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
